<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hzu.englishstudyweb.mapper.StudySetMapper">
    <resultMap id="StudySet" type="edu.hzu.englishstudyweb.model.StudySet">
        <result  column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result  column="word_id" property="word_id" jdbcType="INTEGER"/>
        <result  column="word_count" property="word_count" jdbcType="INTEGER"/>
        <result  column="word_status" property="word_status" jdbcType="INTEGER"/>
    </resultMap>



    <insert id="insertWord">
        insert into
        sys_study_set
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="user_id!=null">user_id,</if>
            <if test="word_id!=null">word_id,</if>
            <if test="word_count!=null">word_count,</if>
            <if test="word_status!=null">word_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_id!=null">#{user_id,jdbcType=INTEGER},</if>
            <if test="word_id!=null">#{word_id,jdbcType=INTEGER},</if>
            <if test="word_count!=null">#{word_count,jdbcType=INTEGER},</if>
            <if test="word_status!=null">#{word_status,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <select id="selectWord" resultType="java.lang.Integer">
        select
           word_id
        from  sys_study_set
        where user_id = #{param1,jdbcType=VARCHAR}
        and word_status = #{param2,jdbcType=VARCHAR}
    </select>

    <delete id="deleteSetWord">
        delete from
        sys_study_set
        where user_id = #{user_id,jdbcType=INTEGER}
    </delete>

    <select id="selectWordByWid" parameterType="INTEGER" resultMap="StudySet" >
        select
        *
        from sys_study_set
        where  word_id = #{word_id,jdbcType=INTEGER}
    </select>



</mapper>
